h1
{
    color: steelblue;
}

p{

}

h2{

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation nav {
    background-color: #71A5A7;
    border-radius: 10px;
    padding: 5px 0;
    overflow: hidden;
}

    .navigation{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
    }

    .navigation nav ul {
        text-align: center;
    }

    .navigation nav li {
        display: inline;
    }
    .navigation nav a {
        padding: 20px 30px;
    }
    .navigation nav a:hover {
        background-color: steelblue;
        padding: 30px;
    }

    #Kuntz-img{
        max-width: 50%;
        padding-top: 20px;
    }

    
    .css-selector {
        background: linear-gradient(270deg, #42e7bd, #cc42e7);
        background-size: 400% 400%;
    
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    .size-circle{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: red;
        animation: SizeCircle 10s;
        animation-iteration-count: infinite;
    }

    @keyframes SizeCircle {
        0%{width: 150px; height: 150px;}
        10%{width: 50px; height: 50px;}
        20%{width: 200px; height: 200px;}
        50%{width: 600px; height: 600px;}
        75%{width: 300px; height: 300px;}
        100%{width: 100px; height: 100px;}
    }
    



.triangle{
    
 width: 40px;
 height: 40px;
 background: green;
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    animation-name: triangle1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes triangle1 {
    from {background-color: slateblue;}
    to {background-color: yellow;}
  }
