h1
{
    color: steelblue;
}

p{

}

h2{

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation nav {
    background-color: #71A5A7;
    border-radius: 10px;
    padding: 5px 0;
    overflow: hidden;
}

    .navigation{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
    }

    .navigation nav ul {
        text-align: center;
    }

    .navigation nav li {
        display: inline;
    }
    .navigation nav a {
        padding: 20px 30px;
    }
    .navigation nav a:hover {
        background-color: steelblue;
        padding: 30px;
    }

    #Kuntz-img{
        max-width: 50%;
        padding-top: 20px;
    }

    
    .css-selector {
        background: linear-gradient(270deg, #42e7bd, #cc42e7);
        background-size: 400% 400%;
    
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    .size-circle{
        width: 100px;
        height: 100px;
        border-radius: 90px;
        background-color: red;
    }