/* Import reset.css */
@import url(reset.css);

/* Color Scheme: https://paletton.com/#uid=52Q0u0kkMn7as-4fPsepciOuCdg */
/* Primary Color: 339139 */
/* Complementary Colors: 286C6F, 85AB3C, angle used: 30 degrees */

html {
    background-color: #DEDEDE;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%; /* 10px based on browser default of 16px */
}

/*img {
    max-width: 50%;
}*/

body {
    line-height: 1.4;
}

h1 {
    font-weight: 400;
    font-size: 5rem;
    color: #DEDEDE;
    text-align: center;
    clear: both;
    padding: 0.7rem 1.5rem;
}

h2 {
    font-size: 2.2rem;
    color: #658B1E;
    text-align: center;
}

    h2 a {
        font-size: inherit;
    }

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
}

/* WebPage Layout */
#WebPage {
    width: 960px;
    margin: 1.5rem auto;
}

/* Banner */
#banner {
    background-color: #339139;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333333;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1.5rem;
}

    #banner a#topImage img {
        display:block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        border-radius: 20px
    }

    #banner nav {
        background-color: #71A5A7;
        border-radius: 10px;
        padding: 0.5rem 0;
        overflow: hidden;
    }

        #banner nav ul {
            text-align: center;
        }

        #banner nav li {
            display: inline;
        }

        #banner nav a {
            color: black;
            padding: 1.0rem 2.0rem;
        }

            #banner nav a:hover {
                background-color: #ADD16A;
                padding: 20px;
            }

/* Content */
#Wrapper {
    background-color: #ECECEC;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333333;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

    #Wrapper h2 {
        padding: 1.0rem 0;
    }

/* Blog Articles */
#Posts {
    float: right;
    background-color: white;
}

#Posts article{
    overflow: hidden;
    max-height: 350px;
}

    #Posts a {
        color: #426204;
    }

        #Posts a:hover {
            color: #14585B;
            text-decoration: underline;
        }

    #Posts p {
        padding: 0.5rem;
    }

    #Posts hr {
        border-style: ridge;
    }

    #Posts footer {
        padding: 0.5rem;
    }

#Footer {
    background-color: #339139;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333333;
    padding: 1.5rem;
    overflow: hidden;
}

    #MyPhoto {
        display:block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    #Footer p {
        clear: both;
        padding-top: 1rem;
        text-align: center;
        font-size: 1rem;
        font-style: italic;
    }
