h1{
    text-align: center;
    font-size:250%
}
h2{
    text-align: center;
    font-size:200%
}

p{
    text-align: center;
}

.rykerPhoto{
    display:block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#plug{
    text-align: center;
}

#plug a{
    color:rgb(216, 216, 216);
}


#DnDSection{
    overflow: hidden;
}

#artLabel{
    font-size: 12px;
}