<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FAQ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background">
    <div class="ion-row">
      <div class="col-3"></div>
      <div class="col-6 center">NO DICE! THE FAQ!</div>
      <div class="col-3"></div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>Q: What is this app?</p>
        <p>A: A virtual dice roller. Come on, you should know this. We spent at... most a minute thinking up of the pun 'No Dice'.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>Q: What makes us different from other dice rollers?</p>
        <p>A: The power of friendship and absolutely nothing else. Next question.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>Q: Are there microtransactions & what do they do?</p>
        <p>A: Yes. There are. As for what they do, that's a different matter. <s>Sell your soul to us for eternity</s> Pay us 200% of your mortgage for the ability to... have clicked a button. That is all.</p>
      </div>
    </div>
  </div>
</ion-content>
