#diceResult{
    color: darkgreen;
    text-decoration: underline;
    text-decoration-style: wavy;
    size: 5em;
 font-size: 130px;
    
}

.container{
    height: auto;
  width: auto;

    text-align: center;

}