#diceResult{
    color: darkgreen;
   
    text-decoration: underline;



  
   
 font-size: 190px;
    
}

.container{
    height: auto;
  width: auto;

    text-align: center;

}

#randominput{
    background-color: white;
    color: black;
}