<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
      <ion-title align="center">No Dice</ion-title>


    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="end" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menu-id="first" content-id="main">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Options</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Dice History</ion-item>
      <ion-item>FAQ</ion-item>
      <ion-item>In-App Purchases</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main">
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Toggle Menu</ion-button>
    </ion-menu-toggle>
  </ion-content>
</div>


<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="background">
    <div class="container">
      <p id="diceResult"></p>
    </div>
  </div>
  


</ion-content>


<ion-footer>
  <ion-toolbar class="ion-row overflow">
    <ion-row align="center">
      <!--Put Dice Images here-->



      <ion-col>
        <ion-button (click)="rollADice(4)" fill="clear" id="d4">
        </ion-button>
      </ion-col>

      <hr>

      <ion-col>
        <ion-button fill="clear" id="d4">
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button id="d8">D8</ion-button>
      </ion-col>

      <ion-col>
        <ion-button id="d10">D10</ion-button>
      </ion-col>

      <ion-col>
        <ion-button id="d12">D12</ion-button>
      </ion-col>

      <ion-col>
        <ion-button id="d20">D20</ion-button>
      </ion-col>

      <ion-col>
        <ion-button id="d100">D100</ion-button>
      </ion-col>

      <ion-col>
        <ion-button>Custom D</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
