/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.background {
  background-image: url("Images/Parchment.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  background-position-x: center;
  background-position-y: top;
}

#d4 {
  background-image: url("Images/d4test.png");
  background-size: cover;
  height: 50px;
  width: 50px;

}

* {
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.overflow {
  overflow-x: auto;
}

#big-button {
  background-color: red;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-width: 0px;
  border-color: black;
  font-family: Impact;
  font-size: 40px;
  box-shadow: 0px 15px 0px black;
  text-align: center;
  margin: auto;
}

#big-button:active {
  background-color: #d70909;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-width: 0px;
  border-color: black;
  font-family: Impact;
  font-size: 40px;
  box-shadow: 0px 1px 0px black;
  transform: translateY(14px);
  transition: 0.1s;
}

.ion-color-mossy {
    --ion-color-base: var(--ion-color-mossy);
    --ion-color-base-rgb: var(--ion-color-mossy-rgb);
    --ion-color-contrast: var(--ion-color-mossy-contrast);
    --ion-color-contrast-rgb: var(--ion-color-mossy-contrast-rgb);
    --ion-color-shade: var(--ion-color-mossy-shade);
    --ion-color-tint: var(--ion-color-mossy-tint);
}

.container {
    text-align: center;
    padding: 20px;
    font-size: 150%;
}

#center {
    padding-top: 40%;
}
